#root{
    background-color: rgb(199, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: sticky;
    top: 0px;
    background-color: rgba(74, 74, 74, 0.864);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo titre";
    font-family: Impact, Haettenschweiler;
    font-size: x-large;
    text-align: center;
    color: white;
    z-index: 10;
}

#titre {
    padding-top: 25px;
    grid-area: titre;
    padding-right: 300px;
}

#logo {
    padding-top: 5px;
    grid-area: logo;
    padding-left: 500px;
    width: 20%;
}



#body {
    z-index: 1;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "texte travail";
}

#texte {
    margin-top: 15px;
    grid-area: texte;
    display: grid;
    grid-template-areas: "code-selector"
                         "selection_graphe"
                         "slider-container";
    font-family: Arial, Helvetica, sans-serif;
}


#slider-container {
    grid-area: slider-container;
    margin-left: 10px;
    margin-bottom: 600px;
    padding-bottom: 15px;
    border-bottom: black double 5px;
}

#code-selector {
    padding-top: 10px;
    text-align: center;
    grid-area: code-selector;
    margin-left: 10px;
    margin-bottom: 100px;
    font-size: large;
}

#selection_graphe {
    padding-top: 10px;
    border-top: black double 5px;
    grid-area: selection_graphe;
    margin-left: 10px;
    margin-bottom: 10px;
    color : black
}

#travail {
    grid-area: travail;
    grid-template-areas: "carte"
                         "graphe";
}

#carte {
    grid-area: carte;
    margin-right: 10px;
    text-align: center;
}

#graph_container {
    width: 60%;
}


#graphe {
    grid-area: graphe;
    padding-top: 15px;
    padding-left: 200px;
    margin-left: 10px;
}

#map-container {
    position: relative;
    width: 95%;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}


#reset-button {
    margin-top: 10px;
    padding: 5px 14px;
    font-size: 14px;
    transition-duration: 0.4s;
    background-color: rgb(199, 209, 209);
    border: gray solid 2px;
}

#reset-button:hover {
    background-color: rgb(240, 237, 237);
    cursor: pointer;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
}

#tabs {
    font-family: Arial, Helvetica, sans-serif;
}

#description{
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: description;
    font-size: medium;
    text-align: left;
    border-left: red solid 5px;
    padding-left: 10px;   
}

#Des{
    color:black;
}
#popincimg{
    height : 50px;
    width : 70px;
    border-color:blue;
}
#netnatimg{
    height:60px;
    width:60px;
}
#netmigimg{
    height : 70px;
    width : 70px;
}
#netmobimg{
    height : 70px;
    width : 70px;
}
#causeimg{
    height: 50px;
    width : 50px;
}



