#root {
    background-image: url('whiteback.jpeg');
    background-color: rgba(255, 255, 255, 0.747);
}

#header {
    position: sticky;
    top: 0px;
    background-color:rgba(0, 0, 0, 0.384);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo titre";
    font-family: Impact, Haettenschweiler;
    font-size: x-large;
    text-align: center;
    color: white;
    z-index: 10;
}

#titre {
    grid-area: titre;
    padding-right: 500px;
}

#logo {
    padding-top: 5px;
    grid-area: logo;
    padding-left: 500px;
    width: 20%;
}



#body {
    z-index: 1;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "texte travail";
}

#texte {
    margin-top: 15px;
    grid-area: texte;
    display: grid;
    grid-template-areas: "code-selector"
                         "selection_graphe"
                         "slider-container";
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: whitesmoke;
}

#description {
    width: 90%;
    grid-area: description;
    font-size: medium;
    text-align: left;
    border-left: red solid 5px;
    padding-left: 10px;
}

#slider-container {
    padding-left: 10px;
    grid-area: slider-container;
    background-color: rgba(220, 220, 220, 0);
    margin-right: 10px;
    margin-bottom: 10px;
}

#code-selector {
    padding-top: 10px;
    text-align: center;
    grid-area: code-selector;
    margin-left: 10px;
    font-size: large;
}

#selection_graphe {
    grid-area: selection_graphe;
    background-color: rgba(220, 220, 220, 0);
    margin-left: 10px;
    margin-bottom: 10px;
    color : black
}

#travail {
    grid-area: travail;
    grid-template-areas: "carte"
                         "graphe";
}

#carte {
    grid-area: carte;
    background-color: rgba(220, 220, 220, 0);
    margin-right: 10px;
    text-align: center;
}

#graph_container {
    width: 60%;
}

#chart_selector{
    color:rgb(14, 13, 13);
}

#graphe {
    grid-area: graphe;
    padding-top: 15px;
    padding-left: 200px;
    background-color: rgba(220, 220, 220, 0);
    margin-left: 10px;
    color: white;
}

#map-container {
    position: relative;
    width: 95%;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}